$sec_color: rgb(4, 99, 128)

@mixin background_color($color)
  background-color: $color
  box-shadow: inset 0 0 0 1000px $color 
// just in case wrap everything in @media 
@media print
  h1,h2,h3,h4,h5,h6
    font-family: 'Lato'
    font-weight: 300
    line-height: 1em
    margin: 0px
    strong
      font-weight: 900
  p,h1,h2,h3,h4,h5,h6,tr,td
    color: #444

  h5
    font-size: 20px
    padding-right: 10px
  h6 
    font-size: 16px 

  p 
    margin: 8px
    font-size: 14px
  th
    text-align: left  
  th,td 
    border-top-width: 1px
    border-top-style: dotted  
    border-top-color: black
    padding: 4px

  .featured_section
    margin-top: 20px

  page
    height: 100%
    page-break-after: always !important
    box-shadow: none  
    margin: 0 auto
    .label
      font-weight: 300 !important
    footer
      display:block
      height: 165px
      margin: 0
      padding: 10px

  

  // Exclude elements to no be printed
  .navbar
    display: none

  .sidebar
    display: none

  .edit-content
    display: block !important
    // Webkit
    display: -webkit-flex

    .content-pdf
      margin: 0 0px

  header
    @include background_color($sec_color) 

 
  @page 
    size: auto
    margin: 3mm 1cm 3mm 1cm



  #BrowserPrintDefaults
    display: none
