@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900&subset=latin,latin-ext)

// Variables
$sec_color: rgb(4, 99, 128)
$logo_color: #036081

// Functions
@mixin background_color($color)
  background-color: $color
  box-shadow: inset 0 0 0 1000px $color      

@mixin font_color($color)
  color: transparent 
  // Condition necessary to firefox 
  @-moz-document url-prefix()
    color: transparent !important
  text-shadow: 0 0 $color !important

@mixin print_color_exact()
  -webkit-print-color-adjust: exact
  -moz-print-color-adjust: exact
  print-color-adjust: exact

@mixin dotted_line_below()  
  border-bottom-width: 1px
  border-bottom-style: dotted  


// Layout
.container-fluid
  padding-top: 30px
// Style
body 
  background: rgb(204,204,204)
  text-rendering: optimizeLegibility !important
  -moz-osx-font-smoothing: grayscale !important
  -webkit-font-smoothing: grayscale
  font-smoothing: grayscale

  margin: 0 0 0 0
  padding: 50px 0 0 0
  font-family: Lato,Helvetica,Arial,sans-serif
  color: #767676

page
  background: white
  width: 210mm
  height: 297mm
  display: block
  margin: 10px auto
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.25)
  padding: 0mm
  position: relative
  overflow: hidden
  @include print_color_exact
  * 
    @include print_color_exact

  h2 
    margin-bottom: 15px

  .box-chart
    margin: 0 auto
    width: 400px
 
  .logo
    max-height: 60px 

  .property-image
    margin-bottom: 10px
    width: 100%

  header 
    display: flex
    flex-direction: row
    // Webkit
    display: -webkit-flex
    -webkit-flex-direction: row

    position: relative
    line-height: 40px
    font-size: 16px
    background: $sec_color
    //box-shadow: inset 0 0 0 1000px #F6F6F6      
    //margin-bottom: 15px


    .page-num
      @include background_color(#5F6062)
      @include font_color(#fff)
      width: 40px
      color: #fff
      text-align: center
      font-weight: 600
      line-height: 40px

    .page-title
      text-align: right
      line-height: 40px
      font-size: 21px
      text-transform: uppercase
      padding-left: 30px
      margin: 0
      font-weight: 300
      color: #FFF
      margin-right: 15px
      width: 90%
      padding-top: 20px     

    .header-rect
      @include background_color($sec_color)      
      width: 40px
      position: absolute
      height: 40px
      right: 0

  
  .pdf-content
    .section-left, .section-right
      height: 620px


  .section-left
    width: 42%
    float: left
  .section-right
    width: 55%
    float: right
    padding-right: 20px
    .section-content
      border-left-width: 1px
      border-left-style: dotted
      border-left-color: #DDD
      padding-left: 10px
  .section-content
    padding-left: 20px

  .pull_left
    float: left
  .pull_right
    float: right   
  

  footer
    position: absolute
    bottom: 0
    width: 100%
    height: 120px
    margin-top: 15px
    padding: 15px
    color: $sec_color 
    border-top-width: 1px
    border-top-style: solid


  footer
    h5,h6
      color: $sec_color    
    .section-left, .section-right
      height: 80px !important

    .agent_photo
      border-radius: 250em
      display: block      
      height: 75px
      padding: 4px
      margin-right: 30px
      margin-left: 10px
      border-width: 1px
      border-style: solid
      float: left

  .agent_title
    padding-top: 20px

  .agent_contact  
    margin-left: 50px
    h6
      display: inline-block  
      vertical-align: super
    

  .location 
    background: image-url('contact-sprite.png') no-repeat 0 -49px
    width: 25px
    height: 24px
    display: inline-block
    margin-right: 5px

  .phone 
    background: image-url('contact-sprite.png') no-repeat 0 0
    width: 25px
    height: 24px
    display: inline-block
    margin-right: 5px
      

  .email 
    background: image-url('contact-sprite.png') no-repeat 0 -24px
    width: 25px
    height: 24px
    display: inline-block
    margin-right: 5px
   


  &.cover 
    .cover-header
      padding: 100px 0px 0px 0px
      .cover-inner
        border-left: 25px solid $sec_color
        padding-left: 40px
        height: 160px
        text-transform:uppercase

        display: flex
        flex-direction: column
        justify-content: center
        // Webkit
        display: -webkit-flex
        -webkit-flex-direction: column
        -webkit-justify-content: center

        .subtitle
          font-size: 34px
          font-weight: 300
          text-transform: uppercase
          margin: 0
        .title
          margin: 0px
          font-size: 46px
          font-weight: 400
          color: $sec_color
          text-transform: uppercase          
    .cover-information
      font-size: 28px
      text-transform: uppercase
      margin-top: 150px
      padding-left: 40px

      display: flex
      flex-direction: column
      // Webkit
      display: -webkit-flex
      -webkit-flex-direction: column

      .label
        color: #373a3c
        font-weight: 200
        text-align: left
        b
          font-weight: 400
  
.property-table
  margin-bottom: 14px  
  h6
    @include dotted_line_below()
    padding: 4px

  th,td
    padding: 4px !important  
ng-map
  width: 300px
  height: 150px
  margin-bottom: 20px

// Edit page
.edit-content
  display: flex
  // Webkit
  display: -webkit-flex

  .content-pdf
    margin: 0 80px

  .sidebar
    position: fixed
    right: 0px
    padding: 20px 50px
    top: 50px
    background: whitesmoke
    height: 100%
    width: 300px  
    overflow-x: auto

.card-area
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  // Webkit
  display: -webkit-flex
  -webkit-flex-wrap: wrap
  -webkit-justify-content: space-around


  .card
    width: 210px
    text-align: center

// Typography

h1,h2,h3,h4,h5,h6
  font-family: 'Lato', sans-serif !important
  font-weight: 300 !important
  line-height: 1em
  margin-bottom: 2px !important
  strong
    font-weight: 900
p 
  margin: 8px
  font-size: 14px
  small
    display: block
h5
  font-size: 20px
  padding-right: 10px
  margin-bottom: 4px
h6 
  font-size: 16px   

.featured_section
  background-color: #EEE
  margin-left: 10px
  margin-top: 20px
  padding: 10px

  h5,h6
    text-transform: uppercase
    text-align: center

.paragraph_title
  margin-bottom: 10px


