page.cover
  .cover-header
    .cover-inner
      h2.subtitle Marché immobilier
      h1.title  Etude d'estimation 
  .cover-information
    span.label 
      | A la demande de:
      b Bruno B
    span.label 
      | Réalisé par:
      b Mr Bruno BOUCHON 
    span.label 
      | Fait le:
      b jeudi 18 février 2016
page
  header
    == image_tag 'logo.png', :class => "logo"    
    h4.page-title
      strong
        | ANALYSE 
      |DE CONTEXTE CONCURRENTIEL
  == image_tag 'property.png', :class => "property-image"
  
  .pdf-content
    .section-left
      .section-content 
        h5.paragraph_title
          strong
            | Maison
        table.property-table.table       
          tr 
            th = t('address')
            td
              |{{ property.address }}    
          tr 
            th = t('price')
            td 
              |{{ property.price }}
          tr 
            th = t('surface')
            td
              |{{ property.surface }}   
        ng-map center="[{{property.lat}}, {{property.lng}}]" width="200"
         marker position="{{property.lat}}, {{property.lng}}" draggable="true" 
        h5.paragraph_title
          strong
            |Propriétaire
        h6
          |M.
          strong 
            | Francois Durand  
        h6
          |49, rue de la Republique   
        h6
          |7700 Melun   
        h6
          |T.
          strong
            | 06.49.03.34.45
        h6  
          |E.
          strong
            | francois.durand@freemail.com   


    .section-right
      .section-content 
        h5.paragraph_title
          strong
            | Description du bien :
        p 
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        h5.paragraph_title
          strong
            | Description du secteur :
        p 
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
        .featured_section
          h6
            strong
              |- Notre méthodologie d’analyse -
          p
            small
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex- plicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun- tur magni dolores eos qui ratione voluptatem sequi nesciunt.
    .clearfix

    footer
      .section-left
        .section_content
          = image_tag 'agent.png', :class => "agent_photo float_left"
          .agent_title
            h5
              strong 
                | David
              |Delacroix
            h6
              | Conseiller Immobilier chez I@D    
      .section-right
        .section-content.agent_contact
          .phone.sprite
          h6
            |06 44 08 79 88
          br
          .email.sprite
          h6
            |david.delacroix@iadfrance.com  
          br  
          .location.sprite
          h6
            | Champigny sur Marne
      .clearfix
      
page
  header
    .page-num 2
    h4.page-title Chart
    div.header-rect
  h2 Line Chart
  div#line-chart-container style="width:700px;height:500px; margin:0 auto"
/* page */
/*   header */
/*     div.page-num 2 */
/*     h4.page-title Charts - Line and Bar */ 
/*     div.header-rect */
/*   h2 Line Chart */
/*   canvas#line-chart width="700" height="450" */ 
/*   br */
/*   br */
/*   h2 Bar Chart */
/*   canvas#bar-chart width="700" height="450" */ 

/* page */
/*   header */
/*     div.page-num 3 */
/*     h4.page-title Charts - Pie and Doughnut */ 
/*     div.header-rect */
/*   h2 Pie Chart */
/*   .box-chart */
/*     canvas#pie-chart width="400" height="400" */ 
/*   br */
/*   br */
/*   h2 Doughnut Chart */
/*   .box-chart */
/*     canvas#dough-chart width="400" height="400" */ 
page
  header
    div.page-num 4
    h4.page-title Similar Houses 
    div.header-rect

  .card-area
    .card ng-repeat="house in property.similar_properties"
      img.card-img-top src="{{ house.photo_url }}"
      .card-block
        h4.card-title
          | {{ house.title }}
        p.card-text 
          | {{ house.price }}
        p.card-text
          | {{ house.surface }}
        p.card-text
          small.text-muted 
            | {{ house.description }}


