= content_for :head
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDWif-Vrje2gPVDFGFWcUytgJmZxUMQlRU&libraries=places"
  = javascript_include_tag 'vendor/chart.min'
  = javascript_include_tag 'vendor/highchart.min'  
  = javascript_include_tag 'chart_render'
  = javascript_include_tag 'vendor/ng-map.min.js' 
  = javascript_include_tag 'views/properties/related'
  javascript:
    window.report = #{@report}

.content ng-app="app" ng-controller="relatedController"
  // STEP 1
  .step-1 ng-hide="step != 1"
    h4 Search similar properties
    br
    form.form-inline ng-submit="searchRelateds(search)"
      .form-group
        label = t('price') 
        input.form-control type="text" ng-model="report.price" placeholder="Price"
      .form-group
        label = t('surface') 
        input.form-control type="text" ng-model="report.surface" placeholder="Surface"
      .form-group
        label = t('address') 
        input.form-control type="text" ng-model="report.address" placeholder="Address"
      .form-group
        input.btn.btn-primary type="submit" value="#{t('actions.search')}"

  // STEP 2
  .step-2 ng-hide="step != 2"
    h4 Related similar result 
    table.table
      thead.thead-inverse
        tr
          th 
          th = t('image')
          th = t('surface')
          th = t('price')
          th = t('title')
      tbody
        tr ng-repeat="property in relateds"
          td 
            input type="checkbox" ng-change="changeValue(properties[property.id])" ng-model="properties[property.id]" ng-init="properties[property.id] = (properties[property.id] ? properties[property.id] : false);"
          td 
            img.img-rounded ng-src="{{ property.photo_url }}" width="100"
          td
            | {{ property.surface }}
          td
            | {{ property.price }}
          td
            | {{ property.title }}

    button.btn.btn-primary ng-click="saveRelateds()" 
      | Save

  // STEP 3
  .step-3 ng-hide="step != 3"
    h4 Report preview 
    = render partial: 'pdf_template'

  .form-group
    button.btn.btn-primary-outline ng-hide="step == 1" ng-click="back()" 
     | Previous
    button.btn.btn-primary-outline ng-hide="step == 3" ng-click="next()"
     | Next


