<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
  <title>PrintReport</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  
  <!-- Custom CSS -->
  <%= stylesheet_link_tag    'style', media: 'all' %>
  <%= stylesheet_link_tag    'print', media: 'print' %>
  <!-- Bootstrap -->
  <%= stylesheet_link_tag    'vendor/bootstrap.min' %>
  <%= javascript_include_tag 'vendor/bootstrap.min' %>
  <!-- AngularJS -->
  <%= javascript_include_tag 'vendor/angular.min' %>
  <!-- External -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <%= link_to 'Print Report', root_path, class: 'navbar-brand' %>
   <ul class="nav navbar-nav">
    <li class="nav-item <%= 'active' if current_page?(reports_path) %>">
      <%= link_to t('reports'), reports_path, class: 'nav-link' %>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
    <div class="dropdown-menu">
      <%#= link_to "English"  , params.merge(locale: :en), class: 'dropdown-item' %>
      <%= link_to "Français" , params.merge(locale: :fr), class: 'dropdown-item' %>
      <%= link_to "Português", params.merge(locale: :pt), class: 'dropdown-item' %>
    </div>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
